* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(102.7deg, rgba(253, 218, 255, 1) 8.2%, rgba(223, 173, 252, 1) 19.6%, rgba(173, 205, 252, 1) 36.8%, rgba(173, 252, 244, 1) 73.2%, rgba(202, 248, 208, 1) 90.9%);
    background-attachment: fixed;
}

.container {
    width: 600px;
}

.container .header {
    /* background-color: #f69517; */
    padding: 15px 40px 30px;
    color: rgb(198, 25, 161);
    text-align: center;
}

.container .header h2{
    margin: 10px;
    font-size: 45px;
}

input{
    width: 75%;
    float: left;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.addbtn{
    width: 25%;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d9d9d9;
    transition: 0.3s;
    color: #555;
    float: left;
    border-radius: 5px;
}

