* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: self-start;
    background-image: linear-gradient(102.7deg, rgba(253, 218, 255, 1) 8.2%, rgba(223, 173, 252, 1) 19.6%, rgba(173, 205, 252, 1) 36.8%, rgba(173, 252, 244, 1) 73.2%, rgba(202, 248, 208, 1) 90.9%);
    background-attachment: fixed;
}

.container {
    width: 600px;
    margin-top: 30px;
}

.container .header {
    /* background-color: #f69517; */
    border-radius: 10px;
    padding: 15px 40px 30px;
    text-align: center;
    border: 3px solid #fff;
}

.container .header h2{
    color: rgb(198, 25, 161);
    margin: 40px;
    font-size: 45px;
}

input{
    width: 75%;
    float: left;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.addbtn{
    width: 25%;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d9d9d9;
    transition: 0.3s;
    color: #555;
    float: left;
    border-radius: 5px;
}

.addbtn:hover{
    background-color: #bbb;
}

.container .header::after{
    content: "";
    display: table;
    clear: both;
}

.container .TaskList{
    max-height: 300px;
    overflow-y: auto;
    
}

.TaskList{
    list-style-type: none;

}

.TaskList li{
    width: 600px;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    font-size: 18px;
    transition: 0.3s;
    user-select: none;
    border-radius: 3px;
    border-bottom: 1px solid rgb(205,204,204);
    /* text-align: right; */
}

.TaskList li:hover{
    background-color: rgb(205,204,204);
}

.closeBtn{
    position: absolute;
    display: none;
    right: 15px;
}

.TaskList li:hover .closeBtn{
    display: inline-block;
}

.closeBtn:hover{
    color: #ec1d1d;
}

.TaskList li.done{
    background-color: #888;
    color: #fff;
    text-decoration: line-through;
}

.TaskList li.done::before{
    content: '';
    width: 8px;
    height: 16px;
    position: absolute;
    left: 15px;
    top: 8px;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}